<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Nouvel Album</title>
</head>
<body>
    <h1>Photothèque</h1>

    <a href="/">Retour</a>
    <h3>Mes Albums</h3>

    <h1>Nouvel album</h1>
    <form action="/albumAjouter" method="POST">
        <input type="text" name="title" placeholder="Titre de l'album" required>
        <button type="submit" class="btn btn-success">Créer</button>
    </form>
</body>
</html>
