<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photothèque</title>
</head>
<body>
    <h3>Photothèque</h3><br><br>

    <h1>Nouvel albums</h1><br>
    <p>Titre</p>
    <form action="/albumAjouter" method="POST">
        <input type="text" name="title" placeholder="Titre de votre album">
        <button type="submit">Créer</button>
    </form>
    
</body>
</html>